<h1>{{title}}</h1>

<form action="/signin" method="post">
  <span>username</span>
  <input type="text" name="username" id="username" />
  <br />
  <span>password</span>
  <input type="password" name="password" id="" />
  <br />
  <input type="submit" value="sign in" />
</form>
